.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden, .mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden {
    width: 50%;
}

nav.site-header.sticky-top.py-1{
    background-color: #343a40;
    z-index: 1;
}

a.py-2.d-none.d-md-inline-block{
    color: white;
}

a.py-2{
    color: white;
}

a.py-2:hover{
    color: white;
}

.news{
    width: 100%;
    color: black;
    padding: 20px;
    text-align: left;
    max-height: 270px; 
    overflow: hidden; 
}

.discover:hover{
    color: #007bff;
}

.my-3.py-3, .my-3.p-3{
    background-color: #343a40;
    border-radius: 21px;
    border: white solid 3px;
    transition: 500ms;
}

p.lead{
    margin: 10px;
}

.my-3.p-3:hover{
    border: #343a40 solid 3px;
}

.my-3.py-3:hover{
    border: #343a40 solid 3px;
}

#box-1{
    background-image: url(../img/box-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-2{
    background-image: url(../img/box-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-3{
    background-image: url(../img/box-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-4{
    background-image: url(../img/box-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-5{
    background-image: url(../img/box-5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-6{
    background-image: url(../img/box-6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-light.box-shadow.mx-auto{
    position: relative;
}

.my_read_more a{  
    color: #007bff; 
} 

.my_box_button:hover {  
    color: #007bff; 
} 

.my_read_more { 
    width: 100%;
    padding: 20px;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    text-align: center; 
    padding: 10px 0; 
    position: absolute;
    bottom: 0;
    left: 0;
} 

.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3{
    position: relative;
}

#article-home-news{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    z-index: 1;
    display: none;
    transition: 400ms;
}

.article-home-news{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    z-index: 1;
    display: none;
    transition: 400ms;
}

.read-more{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.read-more h3{
    text-align: center;
}

.read-more p{
    overflow: hidden;
}

svg.d-block.mx-auto{
    margin: 5px 5px 0;
}
@media screen and (max-width: 1024px){

    #article-home-news{
        width: 100%;
    }

}

@media screen and (max-width: 768px){
    .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden, .mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden {
    min-width: 100%;
    }

    nav.site-header.sticky-top.py-1{
        background-color: #343a40;
        display: block;
        min-width: 100%;
    }
    
    a.py-2.d-none.d-md-inline-block{
        background-color: #343a40;
        display: block !important;
        text-align: center;
    }

    .container.d-flex.flex-column.flex-md-row.justify-content-between{
        display: none !important;
        transition: 2000ms;

    }

    a.py-2:hover + .container.d-flex.flex-column.flex-md-row.justify-content-between {
        display: block !important;
    }

    .container.d-flex.flex-column.flex-md-row.justify-content-between:hover{
        display: block !important;
    }

}